<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WatchApp"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="ExtraText">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.WelcomeActivity"
            android:exported="true"
            android:taskAffinity="">
            <!-- 2. ÖZEL TEMA KALDIRILDI -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 3. TÜM DİĞER ACTIVITY'LERDEN GEREKSİZ TEMA TANIMLARI KALDIRILDI -->
        <activity android:name=".presentation.MainActivity" android:exported="false" />
        <activity android:name=".presentation.CurrencyBuySellActivity" android:exported="false" />
        <activity android:name=".presentation.IbanInfoActivity" android:exported="false" />
        <activity android:name=".presentation.CallCenterActivity" android:exported="false" />
        <activity android:name=".presentation.CreditCardsActivity" android:exported="false" />
        <activity android:name=".presentation.WithdrawMoneyActivity" android:exported="false" />
        <activity android:name=".presentation.NearestAtmActivity" android:exported="false" />
        <activity android:name=".presentation.BorsaActivity" android:exported="false" />
        <activity android:name=".presentation.DovizKuruActivity" android:exported="false" />
        <activity android:name=".presentation.KriptoActivity" android:exported="false" />
        <activity android:name=".presentation.BillPaymentActivity" android:exported="false" />
        <activity android:name=".presentation.QrLoginActivity" android:exported="false" />
        <activity android:name=".presentation.AppointmentActivity" android:exported="false" />

    </application>

</manifest>